.social {
	// .social__list

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		li {
			margin: 0px 12px 0px 0px;
		}
	}

	// .social__link

	&__link {
		display: block;
		@include anim(0.3s, 0s);
		min-width: 42px;
		width: 42px;
		height: 42px;
		overflow: hidden;
		position: relative;
		display: inline-flex;
		align-items: center;
		padding: 0px 0px 0px 12px;
		&:after {
			content: "";
			transition: inherit;
			position: absolute;
			width: 42px;
			height: 100%;
			left: 0;
			top: 0;
			border-radius: 50%;
			background: #444054;
			z-index: -1;
		}
		svg {
			width: 18px;
			height: 18px;
		}
		span {
			font-size: 14px;
			letter-spacing: 0.05em;
			color: $white;
			position: absolute;
			left: 53px;
		}
		&:hover {
			&:after {
				background: transparent;
				border: 0.5px solid #777684;
			}
		}
		// .social__link_acc

		&_acc {
			@media (min-width: $md3+px) {
				&:hover {
					width: 208px;
				}
			}
		}
	}
}
.phone {
	display: flex;
	align-items: center;
	svg {
		@include anim(0.3s, 0s);
		display: inline-block;
		width: 33px;
		height: 33px;
		padding: 11px 9px 9px 9px;
		border: 0.5px solid rgba(255, 255, 255, 0.3);
		border-radius: 50%;
		margin: 0px 10px 0px 0px;
		fill: none;
		@media (max-width: $md3+px) {
			padding: 8px 8px 7px 8px;
			width: 28px;
			height: 28px;
		}
		path {
			transition: inherit;
			fill: $ui;
		}
	}
	span {
		font-weight: 300;
		font-size: 18px;
		color: $white;
		@media (max-width: $md3+px) {
			font-size: 13px;
		}
		@media (max-width: $md5+px) {
			font-size: 11px;
		}
	}
	@media (min-width: $md3+px) {
		&:hover {
			svg {
				background-color: $ui;
				path {
					fill: $main;
				}
			}
		}
	}
}
.logo {
	display: block;
	img {
		max-width: 100%;
	}
}
.btn {
	display: inline-block;
	@include anim(0.3s, 0s);
	position: relative;
	background-color: #da3950;
	box-shadow: 0 4px 80px #eb3f57;
	border-radius: 8px;
	padding: 17px 25px 16px 25px;
	top: 3px;
	z-index: 2;
	&_small-shadow {
		box-shadow: 0px 4px 40px rgba(235, 63, 87, 0.5);
	}

	span {
		display: block;
		@include anim(0.3s, 0s);
		font-size: 12px;
		letter-spacing: 0.1em;
		color: $white;
		position: relative;
		top: -3px;
		z-index: 4;
	}
	&:after {
		content: "";
		@include anim(0.3s, 0s);
		position: absolute;
		width: 100%;
		height: 100%;
		top: -3px;
		left: 0;
		background-color: $ui;
		box-shadow: inset 0px 4px 20px rgba(255, 255, 255, 0.25);
		border-radius: 5px;
		z-index: 3;
	}
	@media (min-width: $md3+px) {
		&:hover {
			span {
				transform: translate3d(-3px, -3px, 0px);
			}
			&:after {
				top: -6px;
				left: -6px;
			}
		}
	}
}
.btn-see-more {
	display: inline-block;
	border: 1px solid $ui;
	background: transparent;
	border-radius: 5px;
	padding: 25px 45px 23px 45px;
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: $white;
	@include anim(0.3s, 0s);
	&.lock {
		pointer-events: none;
	}
	@media (min-width: $md3 + px) {
		&:hover {
			background: $ui;
		}
	}
}
input.err {
	border-color: $ui;
	background: rgba($ui, 0.1);
}
.form {
	&__error {
		color: $ui;
		font-weight: 400;
		font-size: 14px;
		margin: 10px 0px 0px 0px;
	}
}
.tag {
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: rgba($white, .2);
}
.title {
	font-weight: 700;
	font-size: 35px;
	letter-spacing: 0.08em;
	line-height: 50/35 * 100%;
	text-transform: uppercase;
	@media (max-width: $md3+px) {
		font-size: 33px;
	}
	@media (max-width: $md4+px) {
		font-size: 21px;
	}
	// .title__slim

	&__slim {
		font-weight: 300;
	}

	// .title__highlighted

	&__highlighted {
		display: inline-block;
		text-transform: none;
		font-weight: 300;
		font-size: 16px;
		line-height: 19/12 * 100%;
		border: 1px solid rgba(255, 255, 255, 0.1);
		border-radius: 5px;
		margin: 10px 0 10px 0;
		padding: 12px 20px 9px 20px;
		@media (max-width: $md5+px) {
			font-size: 12px;
		}
	}
}
.desc {
	font-weight: 300;
	font-size: 16px;
	line-height: 27/16 * 100%;
	color: $gray;
	@media (max-width: $md3+px) {
		font-size: 14px;
	}
	@media (max-width: $md5+px) {
		font-size: 12px;
	}
}
.tooltip {
	display: block;
	cursor: pointer;
	font-weight: 300;
	position: relative;
	&_border {
		border: 1px solid #545061;
		border-radius: 5px;
	}
	@media (min-width: $md3+px) {
		&:hover {
			.tooltip__tip {
				top: 130%;
				opacity: 1;
			}
		}
	}

	// .tooltip__tip

	&__tip {
		@include anim(0.5s, 0s);
		position: absolute;
		top: 50%;
		left: 0;
		width: 340px;
		text-align: left;
		background: $white;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
		border-radius: 5px;
		line-height: 16/16 * 100%;
		letter-spacing: normal;
		color: $main;
		text-transform: none;
		padding: 35px 35px 45px 35px;
		pointer-events: none;
		opacity: 0;
		z-index: 10;
		&:after {
			content: "";
			position: absolute;
			width: 41px;
			height: 30px;
			top: -15px;
			left: 15px;
			background: url("../img/icons/triangle.svg") 0 0 no-repeat;
		}
	}

	// .tooltip__title

	&__title {
		font-weight: bold;
		font-size: 16px;
	}

	// .tooltip__desc

	&__desc {
		font-weight: 400;
		font-size: 14px;
		margin: 20px 0px 0px 0px;
	}

	// .tooltip__additional

	&__additional {
		font-size: 14px;
		opacity: 0.5;
		margin: 20px 0px 0px 0px;
	}
}
.card {
	background: $darkblue;
	border-radius: 5px;
	padding: 30px 30px 30px 30px;
	@media (max-width: $md5+px) {
		padding: 25px 25px 22px 20px;
	}

	// .card__tag
	&__tag {
		display: block;
		font-weight: 600;
		font-size: 16px;
		line-height: 27/16 * 100%;
		color: $gray;
	}

	// .card__img

	&__img {
	}

	// .card__icon

	&__icon {
		width: 47px;
		svg,
		img {
			max-width: 100%;
		}
		svg {
			path {
				fill: $yellow;
			}
		}
	}

	// .card__title

	&__title {
		font-weight: 800;
		font-size: 18px;
		line-height: 27/18 * 100%;
	}

	// .card__desc

	&__desc {
		font-weight: 400;
		font-size: 14px;
		line-height: 23/14 * 100%;
		color: $gray;
	}
}
.slick-list {
	overflow: hidden;
}
.under-slider {
	display: flex;
	justify-content: space-between;
	@media (max-width: $md3+px) {
		flex-direction: column;
		align-items: center;
	}
}
.under-slider-cta {
	display: flex;
	@media (max-width: $md4+px) {
		flex-direction: column-reverse;
	}
	&__txt {
		font-weight: 400;
		font-size: 14px;
		line-height: 25/14 * 100%;
		max-width: 240px;
		margin: 0px 60px 0px 0px;
		@media (max-width: $md3+px) {
			margin: 0px 40px 0px 0px;
		}
		@media (max-width: $md4+px) {
			margin: 0px 0px 0px 0px;
			font-size: 12px;
			text-align: center;
		}
		&_bigger {
			max-width: 350px;
			@media (max-width: $md3+px) {
				max-width: 240px;
			}
		}
	}
	&__btn-wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		@media (max-width: $md4+px) {
			margin: 0px 0px 20px 0px;
		}
	}
	&__btn {
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 0.15em;
		padding: 25px 31px 23px 31px;
		margin: 0px 0px 17px 0px;
	}
	&__tooltip {
		span {
			color: $gray;
		}
	}

	// .cta-testimonials__tip

	&__tip {
		left: -130px;
		&:after {
			left: 120px;
		}
	}
}
.arrow {
	display: flex;

	&__prev,
	&__next {
		@include anim(0.3s, 0s);
		width: 47px;
		height: 47px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 5px;
		background-color: $ui;
		border: 1px solid $ui;
		svg {
			transition: inherit;
			fill: $white;
		}
		@media (min-width: $md3+px) {
			&:hover {
				background-color: transparent;
				svg {
					fill: $ui;
				}
			}
		}
	}

	&__prev {
		margin: 0px 12px 0px 0px;
	}
	&__next {
	}
}
.tab__navitem {
	cursor: pointer;
}
.tab__item {
	display: none;
	&.active {
		display: block;
	}
}
