/* //<ОСНОВНОЙ БЛОК>====================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================

//<ГОТОВЫЕ КЛАССЫ>====================================================================================================
.row:after {
	display: block;
	content: "";
	clear: both;
}
.rub:after {
	content: "₽";
}
//====================================================================================================
.noselect {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
//====================================================================================================
ol.counter {
	list-style-type: none;
	counter-reset: item;
	li {
		position: relative;
		padding: 0px 0px 0px 45px;
		&:before {
			counter-increment: item;
			content: counter(item);
			position: absolute;
			left: 0;
			top: 0;
			color: #818181;
			font-size: 14px;
			font-weight: 700;
			text-align: center;
			line-height: 26px;
			border-radius: 50%;
			width: 28px;
			height: 28px;
			border: 1px solid #4274bb;
		}
	}
}
//====================================================================================================
.ellipsis {
	display: block;
	overflow: hidden;
	width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.es {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
//====================================================================================================
.table {
	display: table;
	font-size: 0;
	width: 100%;
	//table-layout: fixed;
}
.trow {
	display: table-row;
}
.cell {
	display: table-cell;
	&.full {
		width: 100%;
	}
}
//====================================================================================================
.ibg {
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}

body.ie {
	.ibg {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.ibg img {
		width: 0;
		height: 0;
		opacity: 0;
		visibility: hidden;
	}
}

//====================================================================================================
.video {
	position: relative;
	overflow: hidden;
	height: 0;
	padding-bottom: 56.25%;
	video,
	iframe,
	object,
	embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.videobg {
	video,
	iframe,
	object,
	embed {
		position: fixed;
		top: 50%;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		z-index: -100;
		transform: translateX(-50%) translateY(-50%);
		background-size: cover;
	}
}
//====================================================================================================
.moretext {
	overflow: hidden;
}
.moretext__more {
	cursor: pointer;
	span {
		font-style: normal;
		&:first-child {
			display: block;
		}
		&:last-child {
			display: none;
		}
	}
	&.active {
		span {
			font-style: normal;
			&:first-child {
				display: none;
			}
			&:last-child {
				display: block;
			}
		}
	}
}
//====================================================================================================
.graystyle {
	@include anim(0.8s, 0s);
	filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}
.graystyleoff {
	filter: grayscale(0);
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-o-filter: grayscale(0);
}
//====================================================================================================
.slick-slider {
	position: relative;
	.slick-track,
	.slick-list {
		-webkit-transform: translate3d(0, 0, 0);
		-moz-transform: translate3d(0, 0, 0);
		-ms-transform: translate3d(0, 0, 0);
		-o-transform: translate3d(0, 0, 0);
		transform: translate3d(0, 0, 0);
	}
	.slick-list {
		position: relative;
		overflow: hidden;
		width: 100%;
	}
	.slick-track {
		position: relative;
		width: 100%;
		@include flexbox();
	}
	.slick-slide {
		position: relative;
	}
	.slick-arrow {
		&.slick-prev {
		}
		&.slick-next {
		}
	}
	.slick-dots {
		li {
			button {
			}
			&.slick-active {
				button {
				}
			}
		}
	}
}
//=====================================================================================================================
.tab__item {
	display: none;
	&.active {
		display: block;
	}
}
//=====================================================================================================================
.mirror {
	transform: scale(-1, 1);
}
//=====================================================================================================================
.nicescroll-rails {
	z-index: 1000 !important;
}
//=====================================================================================================================
.gm-style {
}
.gm-style-iw-t {
	opacity: 0;
}
.baloon {
	opacity: 1;
	right: -7px !important;
	bottom: 80px !important;
	button {
		display: none !important;
	}
	&:after {
		display: none !important;
	}
}
.baloon-style {
	display: none;
}
.baloon-content.gm-style-iw {
	opacity: 1;
	border-radius: 0px !important;
	max-width: 300px !important;
	padding: 0 !important;
	left: 0 !important;
	width: 100% !important;
	overflow: visible !important;
	> .gm-style-iw-d {
		overflow: hidden !important;
		max-width: none !important;
	}
	&:after {
		display: none !important;
	}
}
.baloon-close {
	top: 18px !important;
}
//</ГОТОВЫЕ КЛАССЫ>====================================================================================================
 */
.social {
	// .social__list

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		li {
			margin: 0px 12px 0px 0px;
		}
	}

	// .social__link

	&__link {
		display: block;
		@include anim(0.3s, 0s);
		min-width: 42px;
		width: 42px;
		height: 42px;
		overflow: hidden;
		position: relative;
		display: inline-flex;
		align-items: center;
		padding: 0px 0px 0px 12px;
		&:after {
			content: "";
			transition: inherit;
			position: absolute;
			width: 42px;
			height: 100%;
			left: 0;
			top: 0;
			border-radius: 50%;
			background: #444054;
			z-index: -1;
		}
		svg {
			width: 18px;
			height: 18px;
		}
		span {
			font-size: 14px;
			letter-spacing: 0.05em;
			color: $white;
			position: absolute;
			left: 53px;
		}
		&:hover {
			&:after {
				background: transparent;
				border: 0.5px solid #777684;
			}
		}
		// .social__link_acc

		&_acc {
			@media (min-width: $md3+px) {
				&:hover {
					width: 208px;
				}
			}
		}
	}
}
.phone {
	display: flex;
	align-items: center;
	svg {
		@include anim(0.3s, 0s);
		display: inline-block;
		width: 33px;
		height: 33px;
		padding: 11px 9px 9px 9px;
		border: 0.5px solid rgba(255, 255, 255, 0.3);
		border-radius: 50%;
		margin: 0px 10px 0px 0px;
		fill: none;
		@media (max-width: $md3+px) {
			padding: 8px 8px 7px 8px;
			width: 28px;
			height: 28px;
		}
		path {
			transition: inherit;
			fill: $ui;
		}
	}
	span {
		font-weight: 300;
		font-size: 18px;
		color: $white;
		@media (max-width: $md3+px) {
			font-size: 13px;
		}
		@media (max-width: $md5+px) {
			font-size: 12px;
		}
	}
	@media (min-width: $md3+px) {
		&:hover {
			svg {
				background-color: $ui;
				path {
					fill: $main;
				}
			}
		}
	}
}
.logo {
	display: block;
	img {
		max-width: 100%;
	}
}
.btn {
	display: inline-block;
	@include anim(0.3s, 0s);
	position: relative;
	background-color: #da3950;
	box-shadow: 0 4px 80px #eb3f57;
	border-radius: 8px;
	padding: 17px 25px 16px 25px;
	top: 3px;
	z-index: 2;
	&_small-shadow {
		box-shadow: 0px 4px 40px rgba(235, 63, 87, 0.5);
	}
	span {
		display: block;
		@include anim(0.3s, 0s);
		font-size: 12px;
		letter-spacing: 0.1em;
		color: $white;
		position: relative;
		top: -3px;
		z-index: 4;
	}
	&:after {
		content: "";
		@include anim(0.3s, 0s);
		position: absolute;
		width: 100%;
		height: 100%;
		top: -3px;
		left: 0;
		background-color: $ui;
		box-shadow: inset 0px 4px 20px rgba(255, 255, 255, 0.25);
		border-radius: 5px;
		z-index: 3;
	}
	@media (min-width: $md3+px) {
		&:hover {
			span {
				transform: translate3d(-3px, -3px, 0px);
			}
			&:after {
				top: -6px;
				left: -6px;
			}
		}
	}
}
input.err {
	border-color: $ui;
	background: rgba($ui, 0.1);
}
.form {
	&__error {
		color: $ui;
		font-weight: 400;
		font-size: 14px;
		margin: 10px 0px 0px 0px;
	}
}
.title {
	font-weight: 700;
	font-size: 35px;
	letter-spacing: 0.08em;
	line-height: 55px;
	@media (max-width: $md3+px) {
		font-size: 33px;
	}
	@media (max-width: $md4+px) {
		font-size: 21px;
		line-height: 29px;
	}
}
.tooltip {
	display: block;
	cursor: pointer;
	font-weight: 300;
	position: relative;
	@media (min-width: $md3+px) {
		&:hover {
			.tooltip__tip {
				top: 130%;
				opacity: 1;
			}
		}
	}

	// .tooltip__tip

	&__tip {
		@include anim(0.5s, 0s);
		position: absolute;
		top: 50%;
		left: 0;
		width: 340px;
		text-align: left;
		background: $white;
		box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
		border-radius: 5px;
		line-height: 25px;
		letter-spacing: normal;
		color: $main;
		text-transform: none;
		padding: 35px 35px 45px 35px;
		pointer-events: none;
		opacity: 0;
		z-index: 10;
		&:after {
			content: "";
			position: absolute;
			width: 41px;
			height: 30px;
			top: -15px;
			left: 15px;
			background: url("../img/icons/triangle.svg") 0 0 no-repeat;
		}
	}

	// .tooltip__title

	&__title {
		font-weight: bold;
		font-size: 16px;
	}

	// .tooltip__desc

	&__desc {
		font-weight: 400;
		font-size: 14px;
		margin: 20px 0px 0px 0px;
	}

	// .tooltip__additional

	&__additional {
		font-size: 14px;
		opacity: 0.5;
		margin: 20px 0px 0px 0px;
	}
}
