.in-num {
	padding: 0px 0px 80px 0px;
	// .in-num__row

	&__row {
		width: 100%;
		display: flex;
		justify-content: space-around;
		@media (max-width: $md4+px) {
			flex-direction: column;
		}
	}

	// .in-num__slider

	&__slider {
	}

	// .in-num__dots

	&__dots {
	}
}
.slider-in-num {
	width: 100%;
	max-width: 845px;
	@media (max-width: $md2+px) {
		max-width: 500px;
	}
	@media (max-width: $md3+px) {
		max-width: 400px;
	}
	@media (max-width: $md4+px) {
		max-width: none;
		margin: 0px 0px 25px 0px;
	}

	// .slider-in-num__item

	&__item {
	}
}
.item-in-num {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	border: 1px solid #595664;
	border-radius: 5px;
	user-select: none;
	@media (max-width: $md2+px) {
		flex-direction: column;
	}

	// .item-in-num__num

	&__num {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $ui;
		font-weight: 700;
		font-size: 40px;
		line-height: 50/40 * 100%;
		letter-spacing: -0.01em;
		flex: 0 0 313/845 * 100%;
		border: 1px solid $ui;
		border-radius: 5px 0px 0px 5px;
		@media (max-width: $md2+px) {
			padding: 36px 55px 30px 55px;
		}

		span {
			font-weight: 300;
		}
		// .item-in-num__num_saved

		&_saved {
			&:after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				background: url(../img/euro.png) right bottom no-repeat;
				background-size: cover;
				opacity: 0.1;
			}
		}
	}

	// .item-in-num__desc

	&__desc {
		font-weight: 400;
		font-size: 14px;
		line-height: 23/14 * 100%;
		color: rgba($white, 0.8);
		padding: 31px 40px 28px 50px;
	}
}
.dots-in-num {
	display: flex;
	align-items: center;
	@media (max-width: $md4+px) {
		justify-content: center;
	}

	// .dots-in-num__list
	&__list {
		@media (max-width: $md4+px) {
			display: flex;
		}
		li {
			position: relative;
			@include anim(0.4s, 0s);
			margin: 0px 0px 10px 0px;
			padding: 0px 0px 0px 54px;
			&:last-child {
				margin: 0px 0px 0px 0px;
			}
			@media (max-width:$md4+px){
				margin: 0px 25px 0px 0px;
				padding: 19px 0px 0px 0px;
			}
			cursor: pointer;
			&:before,
			&:after {
				content: "";
				position: absolute;
				top: 50%;
				@include tr(0, -50%, 0);
				transition: inherit;
				background-color: $lightgray;
			}
			&:before {
				content: "";
				width: 15px;
				height: 1px;
				left: 0;
				@media (max-width: $md4+px) {
					display: none;
				}
			}
			&:after {
				content: "";
				width: 9px;
				height: 9px;
				left: 27px;
				border-radius: 50%;
				@media (max-width: $md4+px) {
					top: 0;
					left: 50%;
					transform: translate3d(-50%, 0px, 0px);
					@include tr(-50%, 0, 0);
				}
			}
			button {
				transition: inherit;
				background: transparent;
				font-weight: 300;
				font-size: 12px;
				letter-spacing: 0.05em;
				color: $lightgray;
			}
			&.slick-active {
				padding: 0px 0px 0px 58px;
				@media (max-width:$md4+px){
					padding: 23px 0px 0px 0px;
				}
				&:before {
					width: 22px;
					background-color: $ui;
				}
				&:after {
					width: 13px;
					height: 13px;
					left: 34px;
					background-color: $ui;
					@media (max-width:$md4+px){
						left: 50%;
					}
				}
				button {
					color: $ui;
					font-size: 14px;
				}
			}
		}
	}
}
