.need {
	position: relative;
	padding: 80px 0;
	background-image: url("../img/how/bg.jpg");
	background-color: $main;
	background-size: cover;
	background-position: right center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	overflow: hidden;
	@media (max-width: $md3+px) {
		&:before {
			display: none;
		}
	}
	&:before {
		content: "";
		position: absolute;
		left: 5px;
		top: -15px;
		width: 155px;
		height: 200px;
		max-width: 234px;
		max-height: 290px;
		background: url(../img/dots-grid.png) center no-repeat;
	}

	// .need__row

	&__row {
		position: relative;
		z-index: 2;
	}

	// .need__title

	&__title {
		max-width: 695px;
		margin: 0 auto 30px auto;
		text-align: center;
		@media (max-width: $md2+px) {
			margin: 0 auto 80px auto;
		}
		@media (max-width: $md3+px) {
			font-size: 25px;
		}
	}

	// .need__body

	&__body {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin: 0px 0px 30px 0px;
	}

	// .need__cont

	&__cont {
		max-width: 100%;
		flex: 0 0 536/1170 * 100%;
		@media (max-width: $md2+px) {
			flex: 0 0 auto;
		}
		&._in-sight {
			.card-need {
				&__num {
					@include anim(0.4s, 0.3s);
					left: -55px;
					@media (max-width: $md5+px) {
						left: -70px;
					}
				}
				&__tag {
					@include anim(0.4s, 0.7s);
					@include tr(0px, 0px, 0px);
					opacity: 1;
				}
				&__title {
					@include anim(0.4s, 1s);
					@include tr(0px, 0px, 0px);
					opacity: 1;
				}
				&__desc {
					@include anim(0.4s, 1.4s);
					@include tr(0px, 0px, 0px);
					opacity: 1;
				}
			}
		}
	}

	// .need__card

	&__card {
		width: 100%;
		margin: 0px 0px 50px 0px;
	}

	// .need__btn

	&__btn {
		padding: 25px 60px 23px 60px;
		text-transform: uppercase;
		@include tr(-120%,0px,0px);
		opacity: 0;
		&._in-sight {
			@include anim(.4s,.3s);
			@include tr(0px,0px,0px);
			opacity: 1;
		}
		@media (max-width: $md5+px) {
			display: block;
			text-align: center;
		}
	}

	// .need__img

	&__img {
		@media (max-width: $md2+px) {
			display: none;
		}
		&._in-sight {
			img {
				@include anim(0.4s, 0.7s);
				transform: scale(1);
			}
		}

		img {
			max-width: 100%;
			transform: scale(0);
			@include anim(0.3s, 0s);
		}
	}

	// .need__arrow-scrolldown

	&__arrow-scrolldown {
		margin: 0 auto;
		&._in-sight {
			svg{
			@include anim(.45s, .25s);
			transform: scale(1);}
		}
		svg {
			transform: scale(0);
			@include anim(.3s,0s);
		}
	}
}
.card-need {
	display: flex;
	align-items: center;
	overflow: hidden;
	padding: 30px 30px 30px 0;

	// .card-need__num

	&__num {
		display: block;
		min-width: 135px;
		min-height: 135px;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 25px solid $ui;
		box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
		border-radius: 50%;
		position: relative;
		left: -135px;
		font-weight: bold;
		font-size: 35px;
		color: $ui;
	}

	// .card-need__body

	&__body {
		@media (max-width: $md5+px) {
			margin-left: -40px;
		}
	}

	// .card-need__tag

	&__tag {
		@include tr(0px, 120%, 0px);
		opacity: 0;
		@include anim(0.3s, 0s);
	}

	// .card-need__title

	&__title {
		@include tr(0px, 120%, 0px);
		opacity: 0;
		@include anim(0.3s, 0s);
	}

	// .card-need__desc

	&__desc {
		@include tr(0px, 120%, 0px);
		opacity: 0;
		@include anim(0.3s, 0s);
		max-width: 335px;
	}
}
