.team {
	padding: 30px 0;
	background-color: $darkblue;

	// .team__row

	&__row {
	}

	// .team__tag

	&__tag {
		display: block;
		text-align: center;
		margin: 0px 0px 30px 0px;
	}

	// .team__title

	&__title {
		margin: 0 auto 25px auto;
		max-width: 640px;
		text-align: center;
	}

	// .team__desc

	&__desc {
		margin: 0 auto 75px auto;
		max-width: 601px;
		text-align: center;
	}

	// .team__photo

	&__photo {
		position: relative;
		@include anim(.3s,0s);
		transform: scale(0);
		&._in-sight {
			@include anim(.4s,.25s);
			transform: scale(1);
		}
		img {
			max-width: 100%;
		}
	}

	// .team__under-slider

	&__under-slider {
		justify-content: flex-end;
	}
}