.testimonials {
	padding: 0px 0px 120px 0px;
	// .testimonials__row

	&__row {
	}

	// .testimonials__head

	&__head {
	}

	// .testimonials__title

	&__title {
		max-width: 516px;
		margin: 0px 0px 20px 0px;
	}

	// .testimonials__desc

	&__desc {
		max-width: 492px;
		margin: 0px 0px 50px 0px;
	}

	// .testimonials__body

	&__body {
	}

	// .testimonials__nav

	&__nav {
		display: inline-flex;
		align-items: stretch;
		background-color: $darkblue;
		border-radius: 5px;
		padding: 6px 6px 6px 6px;
		margin: 0px 0px 60px 0px;
	}

	// .testimonials__navitem

	&__navitem {
		position: relative;
		font-weight: 400;
		font-size: 14px;
		border-radius: inherit;
		padding: 17px 30px 15px 30px;
		@include anim(0.3s, 0s);
		&:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			@include anim(0.3s, 0s);
			background-color: rgba($darkblue, 0.5);
			pointer-events: none;
		}
		@media (max-width: $md5+px) {
			padding: 17px 20px 15px 20px;
		}
		&.active {
			background-color: $main;
			box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
			&:before {
				background-color: rgba($darkblue, 0);
			}
		}
		// .testimonials__navitem_with-fire

		&_with-fire {
			padding: 17px 30px 15px 45px;
			background: url(../img/icons/fire.svg) 30px center no-repeat;
			@media (max-width: $md5+px) {
				padding: 17px 20px 15px 35px;
				background-position: 20px center;
			}
		}
	}

	// .testimonials__items

	&__items {
		margin: 0px 0px 60px 0px;
	}

	// .testimonials__item

	&__item {
	}

	// .testimonials__arrow

	&__arrow {
		@media (max-width: $md3+px) {
			margin: 0px 0px 50px 0px;
		}
	}
}
.cases-testimonials {
	// .cases-testimonials__card

	&__card {
		margin: 0px 15px;
	}

	// .cases-testimonials__list

	&__list {
		overflow: unset;
	}

	// .cases-testimonials__track

	&__track {
		display: flex;
		justify-content: flex-start;
	}
}
