@font-face {
  font-family: "AvenirNextCyr";
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Regular.woff") format("woff"), url("../fonts/AvenirNextCyr-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  font-display: swap;
  src: url("../fonts/ProximaNova-Bold.woff") format("woff"), url("../fonts/ProximaNova-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  font-display: swap;
  src: url("../fonts/ProximaNova-Extrabld.woff") format("woff"), url("../fonts/ProximaNova-Extrabld.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  font-display: swap;
  src: url("../fonts/ProximaNova-Light.woff") format("woff"), url("../fonts/ProximaNova-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  font-display: swap;
  src: url("../fonts/ProximaNova-LightIt.woff") format("woff"), url("../fonts/ProximaNova-LightIt.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "ProximaNova";
  font-display: swap;
  src: url("../fonts/ProximaNova-Regular.woff") format("woff"), url("../fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "ProximaNova";
  font-display: swap;
  src: url("../fonts/ProximaNova-Semibold.woff") format("woff"), url("../fonts/ProximaNova-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "ProximaNova";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "ProximaNova";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: #3c374b;
  color: #fff;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__list li {
  margin: 0px 12px 0px 0px;
}

.social__link {
  display: block;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  min-width: 42px;
  width: 42px;
  height: 42px;
  overflow: hidden;
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 0px 0px 12px;
}

.social__link:after {
  content: "";
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
  position: absolute;
  width: 42px;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 50%;
  background: #444054;
  z-index: -1;
}

.social__link svg {
  width: 18px;
  height: 18px;
}

.social__link span {
  font-size: 14px;
  letter-spacing: 0.05em;
  color: #fff;
  position: absolute;
  left: 53px;
}

.social__link:hover:after {
  background: transparent;
  border: 0.5px solid #777684;
}

.phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.phone svg {
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: inline-block;
  width: 33px;
  height: 33px;
  padding: 11px 9px 9px 9px;
  border: 0.5px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  margin: 0px 10px 0px 0px;
  fill: none;
}

.phone svg path {
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
  fill: #eb3f57;
}

.phone span {
  font-weight: 300;
  font-size: 18px;
  color: #fff;
}

.logo {
  display: block;
}

.logo img {
  max-width: 100%;
}

.btn {
  display: inline-block;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  background-color: #da3950;
  -webkit-box-shadow: 0 4px 80px #eb3f57;
          box-shadow: 0 4px 80px #eb3f57;
  border-radius: 8px;
  padding: 17px 25px 16px 25px;
  top: 3px;
  z-index: 2;
}

.btn_small-shadow {
  -webkit-box-shadow: 0px 4px 40px rgba(235, 63, 87, 0.5);
          box-shadow: 0px 4px 40px rgba(235, 63, 87, 0.5);
}

.btn span {
  display: block;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 12px;
  letter-spacing: 0.1em;
  color: #fff;
  position: relative;
  top: -3px;
  z-index: 4;
}

.btn:after {
  content: "";
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -3px;
  left: 0;
  background-color: #eb3f57;
  -webkit-box-shadow: inset 0px 4px 20px rgba(255, 255, 255, 0.25);
          box-shadow: inset 0px 4px 20px rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  z-index: 3;
}

.btn-see-more {
  display: inline-block;
  border: 1px solid #eb3f57;
  background: transparent;
  border-radius: 5px;
  padding: 25px 45px 23px 45px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.btn-see-more.lock {
  pointer-events: none;
}

input.err {
  border-color: #eb3f57;
  background: rgba(235, 63, 87, 0.1);
}

.form__error {
  color: #eb3f57;
  font-weight: 400;
  font-size: 14px;
  margin: 10px 0px 0px 0px;
}

.title {
  font-weight: 700;
  font-size: 35px;
  letter-spacing: 0.08em;
  line-height: 142.85714%;
  text-transform: uppercase;
}

.title__slim {
  font-weight: 300;
}

.title__highlighted {
  display: inline-block;
  text-transform: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 158.33333%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  margin: 10px 0 10px 0;
  padding: 12px 20px 9px 20px;
}

.desc {
  font-weight: 300;
  font-size: 16px;
  line-height: 168.75%;
  color: #9d9ba5;
}

.tooltip {
  display: block;
  cursor: pointer;
  font-weight: 300;
  position: relative;
}

.tooltip_border {
  border: 1px solid #545061;
  border-radius: 5px;
}

.tooltip__tip {
  -webkit-transition: all 0.5s ease-in 0s;
  -o-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  position: absolute;
  top: 50%;
  left: 0;
  width: 340px;
  text-align: left;
  background: #fff;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  line-height: 100%;
  letter-spacing: normal;
  color: #3c374b;
  text-transform: none;
  padding: 35px 35px 45px 35px;
  pointer-events: none;
  opacity: 0;
  z-index: 10;
}

.tooltip__tip:after {
  content: "";
  position: absolute;
  width: 41px;
  height: 30px;
  top: -15px;
  left: 15px;
  background: url("../img/icons/triangle.svg") 0 0 no-repeat;
}

.tooltip__title {
  font-weight: bold;
  font-size: 16px;
}

.tooltip__desc {
  font-weight: 400;
  font-size: 14px;
  margin: 20px 0px 0px 0px;
}

.tooltip__additional {
  font-size: 14px;
  opacity: 0.5;
  margin: 20px 0px 0px 0px;
}

.card {
  background: #302C3D;
  border-radius: 5px;
  padding: 30px 30px 30px 30px;
}

.card__tag {
  display: block;
  font-weight: 600;
  font-size: 16px;
  line-height: 168.75%;
  color: #9d9ba5;
}

.card__icon {
  width: 47px;
}

.card__icon svg,
.card__icon img {
  max-width: 100%;
}

.card__icon svg path {
  fill: #FFC582;
}

.card__title {
  font-weight: 800;
  font-size: 18px;
  line-height: 150%;
}

.card__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 164.28571%;
  color: #9d9ba5;
}

.slick-list {
  overflow: hidden;
}

.popup {
  -webkit-overflow-scrolling: touch;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  position: fixed !important;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 100;
}

.popup.active .popup-content {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.popup.show {
  display: block;
}

.popup.show .popup-content {
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  transform: scale(1);
}

.popup__title {
  font-size: 30px;
  line-height: 40px;
  max-width: 451px;
  margin: 0px 0px 20px 0px;
}

.popup__title span {
  font-weight: 700;
}

.popup__desc {
  font-size: 16px;
  line-height: 22px;
  margin: 0px 0px 45px 0px;
}

.popup-subapplication__left {
  font-weight: 300;
}

.popup-subapplication__right {
  position: absolute;
  width: 365px;
  right: 80px;
  bottom: 0;
}

.popup-subapplication__right:after {
  content: "";
  position: absolute;
  width: 400px;
  height: 400px;
  top: 20%;
  left: 0;
  background-color: rgba(48, 44, 61, 0.8);
  border-radius: 50%;
  z-index: -1;
}

.popup-subapplication__right img {
  max-width: 100%;
}

.popup-table {
  height: 100%;
  table-layout: fixed;
}

.popup-table > .cell {
  height: 100%;
  vertical-align: middle;
  padding: 50px 10px;
}

.popup-content {
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  max-width: 1170px;
  margin: 50px auto 0 auto;
  padding: 80px 80px 90px 110px;
  border-radius: 10px;
  background-color: #3c374b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-close {
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 60px;
  height: 60px;
  border: 1px solid #9d9ba5;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, -80px, 0);
  -webkit-transform: translate3d(-50%, -80px, 0);
  -ms-transform: translate3d(-50%, -80px, 0);
  -o-transform: translate3d(-50%, -80px, 0);
  -moz-transform: translate3d(-50%, -80px, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-close svg {
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
}

.popup-close svg path {
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
  fill: #AEAEAE;
}

.popup-form__how {
  margin: 0px 0px 20px 0px;
}

.popup-form__contact-input {
  margin: 0px 0px 40px 0px;
}

.popup-form__additional {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-form__btn {
  padding: 25px 60px 23px 60px !important;
  text-transform: uppercase;
  margin: 0px 45px 0px 0px;
}

.popup-form__or {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.6);
}

.how-popup__title {
  font-weight: 600;
  font-size: 20px;
  margin: 0px 0px 30px 0px;
}

.how-popup__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 336px;
}

.how-popup__button {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  max-width: 158px;
  height: 54px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 0px 0px 20px 0px;
  cursor: pointer;
}

.how-popup__button:nth-child(odd) {
  margin-right: 20px;
}

.how-popup__button input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.how-popup__button input:checked ~ .how-popup__checkmark {
  background-color: #eb3f57;
  color: #fff;
  -webkit-box-shadow: 0px 4px 40px #eb3f57;
          box-shadow: 0px 4px 40px #eb3f57;
}

.how-popup__checkmark {
  position: absolute;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-weight: 400;
  font-size: 14px;
  color: #3c374b;
  border-radius: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-contact-popup__label {
  display: block;
  font-weight: 400;
  font-size: 14px;
  color: #9d9ba5;
  margin: 0px 0px 15px 0px;
}

.input-contact-popup__input {
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  max-width: 336px;
  padding: 24px 0px 21px 20px;
  background: #504b5d;
  border: 1px solid #736f7d;
  border-radius: 5px;
  font-weight: 400;
  font-size: 16px;
  color: #9d9ba5;
  width: 100%;
}

.popup-thanks__right {
  width: 250px;
}

.popup-thanks__right img {
  max-width: 100%;
}

.header {
  position: fixed;
  width: 100%;
  height: 90px;
  background: #3c374b;
  z-index: 99;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header__social {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 216px;
          flex: 0 0 216px;
  overflow: hidden;
}

.header__logo {
  width: 167px;
}

.menu {
  /* if backdrop support: very transparent and blurred */
}

.menu__body-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 55px 0px;
}

.menu__body {
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: fixed;
  width: 100%;
  max-width: 450px;
  height: 100vh;
  top: 0;
  left: -100%;
  padding: 60px 20px 55px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  z-index: 49;
  background-color: #3c374b;
  overflow: auto;
}

.menu__body.active {
  left: 0;
  -webkit-box-shadow: 20px 4px 50px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 20px 4px 50px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.menu__body::-webkit-scrollbar {
  width: 8px;
  background: #eb3f57;
}

.menu__body::-webkit-scrollbar-thumb {
  background: #9d9ba5;
  border-radius: 25px;
}

.menu__list li {
  margin: 0px 0px 30px 0px;
}

.menu__link {
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: -0.01em;
  color: #acabb1;
  position: relative;
}

.menu__link:before {
  content: "";
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
  position: absolute;
  width: 40px;
  height: 1px;
  background-color: #eb3f57;
  top: 50%;
  left: -100px;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
}

.menu__link.active {
  color: #eb3f57;
  font-weight: 600;
}

.menu__link.active:before {
  left: -60px;
}

.menu__logo {
  display: block;
  width: 167px;
}

.menu__btn {
  width: 100%;
  padding: 25px 31px 23px 31px !important;
}

.menu__btn span {
  text-transform: uppercase;
  text-align: center;
}

.menu__mask {
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  background: rgba(19, 18, 22, 0.6);
  z-index: 48;
}

.menu__mask.active {
  opacity: 1;
  visibility: visible;
}

@supports ((-webkit-backdrop-filter: blur(30px)) or (backdrop-filter: blur(30px))) {
  .menu .menu__mask {
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
  }
}

.icon-menu {
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  width: 39px;
  height: 22px;
  cursor: pointer;
}

.icon-menu span {
  display: block;
  -webkit-transition: all 0.3s ease-in 0.1s;
  -o-transition: all 0.3s ease 0.1s;
  -webkit-transition: all 0.3s ease 0.1s;
  transition: all 0.3s ease 0.1s;
  top: 10px;
  left: 0px;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
}

.icon-menu span:first-child {
  top: 0px;
  width: 28px;
}

.icon-menu span:last-child {
  top: auto;
  bottom: 0px;
  width: 28px;
  margin: 0px 0px 0px 11px;
}

.icon-menu.active span {
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  transform: scale(0);
}

.icon-menu.active span:first-child,
.icon-menu.active span:last-child {
  width: 100%;
  margin: 0px 0px 0px 0px;
}

.icon-menu.active span:first-child {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 10px;
}

.icon-menu.active span:last-child {
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  bottom: 10px;
}

.hero {
  width: 100%;
  min-height: 60vh;
  position: relative;
  margin: 0px 0px 20px 0px;
}

.no-webp .hero:after {
  background: url("../img/dots-grid.png") 0 0 no-repeat; }

.hero:after {
  content: "";
  position: absolute;
  left: 70px;
  bottom: 50px;
  width: 270px;
  height: 334px;
  z-index: -1;
}

.hero__row {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 180px 0px 50px 0px;
}

.hero__title {
  max-width: 565px;
  margin: 0px 0px 40px 0px;
}

.hero__subtitle {
  max-width: 465px;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  margin: 0px 0px 70px 0px;
}

.hero__subtitle span {
  font-weight: 700;
}

.title-hero span {
  font-family: AvenirNextCyr;
  font-weight: 400;
  font-size: 60px;
}

.title-hero__tooltip {
  font-size: 25px;
  text-transform: uppercase;
  padding: 10px 21px 6px;
  position: relative;
  display: inline-block;
  font-weight: 300;
  letter-spacing: 0.08em;
}

.cta-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.cta-hero__desc {
  max-width: 450px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0 5px 5px 0;
  padding: 20px 26px 19px 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 133.33333%;
  margin: 0px 0px 0px -3px;
}

.cta-hero__desc span {
  font-weight: 700;
}

.btn-wrapper {
  position: relative;
}

.btn-wrapper__btn {
  text-transform: uppercase;
  height: 100%;
  padding: 0 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-wrapper__tooltip {
  position: absolute;
  bottom: -35px;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-wrapper__tooltip span {
  position: relative;
  margin: 0px 6px 0px 0px;
}

.btn-wrapper__tooltip span:after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}

.benefits__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  background: #302C3D;
  border-radius: 5px;
}

.benefits__card {
  max-width: 300px;
  padding: 40px 40px 40px 40px;
}

.card-benefits {
  position: relative;
  letter-spacing: -0.01em;
}

.card-benefits:after {
  content: "";
  position: absolute;
  width: 1px;
  height: 42.36641%;
  top: 50%;
  right: 0;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  background: rgba(255, 255, 255, 0.1);
}

.card-benefits:last-child:after {
  display: none;
}

.card-benefits__img {
  margin: 0px 0px 12px 0px;
}

.card-benefits__img svg path {
  fill: #FFC582;
}

.card-benefits__title {
  font-weight: 700;
  font-size: 15px;
  line-height: 133.33333%;
  letter-spacing: inherit;
  max-width: 160px;
  margin: 0px 0px 12px 0px;
}

.card-benefits__desc {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: inherit;
  color: rgba(255, 255, 255, 0.7);
  max-width: 203px;
}

.what-do-we-take {
  position: relative;
  padding: 150px 0px 100px 0px;
}

.what-do-we-take__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.what-do-we-take__left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 65%;
          flex: 0 1 65%;
}

.what-do-we-take__title {
  margin: 0px 0px 70px 0px;
}

.what-do-we-take__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.what-do-we-take__right {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 35%;
          flex: 0 0 35%;
}

.what-do-we-take__images {
  position: absolute;
  top: 20%;
  right: 0;
  width: 34%;
  height: 100%;
  z-index: -1;
}

.cards-what-do-we-take__card {
  width: 213px;
  margin: 0px 11px 13px 0px;
}

.cards-what-do-we-take__card:last-child {
  margin: 0px 0px 13px 0px;
}

.card-what-do-we-take__icon {
  margin: 0px 0px 15px 0px;
}

.spollers-what-do-we-take__item {
  padding: 0px 0px 12px 19px;
  position: relative;
}

.spollers-what-do-we-take__item:before,
.spollers-what-do-we-take__item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 3px;
  width: 1px;
}

.spollers-what-do-we-take__item:before {
  height: 100%;
  background-color: #4d4859;
  -webkit-transition: all 0.3s ease-in 0s;
  -o-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.spollers-what-do-we-take__item:after {
  height: 0;
  background-color: #FFC582;
  -webkit-transition: all 0.3s ease-in 0.135s;
  -o-transition: all 0.3s ease 0.135s;
  -webkit-transition: all 0.3s ease 0.135s;
  transition: all 0.3s ease 0.135s;
}

.spollers-what-do-we-take__item.active:after {
  height: 100%;
}

.spollers-what-do-we-take__title {
  font-weight: 400;
  font-size: 18px;
  margin: 0px 0px 5px 0px;
  cursor: pointer;
}

.spollers-what-do-we-take__title:before {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  top: 30%;
  left: 0;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  background-color: #4d4859;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in 0.135s;
  -o-transition: all 0.3s ease 0.135s;
  -webkit-transition: all 0.3s ease 0.135s;
  transition: all 0.3s ease 0.135s;
}

.spollers-what-do-we-take__title.active:before {
  top: 50%;
  background-color: #FFC582;
}

.spollers-what-do-we-take__desc {
  display: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 166.66667%;
  letter-spacing: -0.01em;
  color: #9d9ba5;
  width: 220px;
}

.images-what-do-we-take__img {
  -webkit-transition: all 0.3s ease-in 0.135s;
  -o-transition: all 0.3s ease 0.135s;
  -webkit-transition: all 0.3s ease 0.135s;
  transition: all 0.3s ease 0.135s;
  position: absolute;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.images-what-do-we-take__img.active {
  left: 0;
}

.images-what-do-we-take__img img {
  max-width: 100%;
}

.services {
  padding: 0px 0px 60px 0px;
}

.services__title {
  max-width: 810px;
  margin: 0px 0px 15px 0px;
}

.services__desc {
  margin: 0px 0px 90px 0px;
}

.services__cards {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-transition: all 1.5s ease-in 0s;
  -o-transition: all 1.5s ease 0s;
  -webkit-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
  overflow: hidden;
}

.services__cards:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 330px;
  left: 0;
  bottom: 0;
  -webkit-transition: all 0.65s ease-in 0s;
  -o-transition: all 0.65s ease 0s;
  -webkit-transition: all 0.65s ease 0s;
  transition: all 0.65s ease 0s;
  pointer-events: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(23.07%, rgba(60, 55, 75, 0)), color-stop(35.67%, rgba(60, 55, 75, 0.55534)), color-stop(61.65%, #3c374b));
  background: -o-linear-gradient(top, rgba(60, 55, 75, 0) 23.07%, rgba(60, 55, 75, 0.55534) 35.67%, #3c374b 61.65%);
  background: linear-gradient(180deg, rgba(60, 55, 75, 0) 23.07%, rgba(60, 55, 75, 0.55534) 35.67%, #3c374b 61.65%);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}

.services__cards.active:after {
  opacity: 0;
}

.services__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48.71795%;
          flex: 0 0 48.71795%;
  margin: 0px 0px 30px 0px;
  padding: 0px 0px 0px 0px !important;
}

.services__btn {
  position: relative;
  bottom: 50px;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  -webkit-transform: translate3d(-50%, 0, 0);
  -ms-transform: translate3d(-50%, 0, 0);
  -o-transform: translate3d(-50%, 0, 0);
  -moz-transform: translate3d(-50%, 0, 0);
  -webkit-transition: all 1.5s ease-in 0s;
  -o-transition: all 1.5s ease 0s;
  -webkit-transition: all 1.5s ease 0s;
  transition: all 1.5s ease 0s;
  z-index: 5;
}

.services__btn.active {
  bottom: 0px;
}

.card-services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  border-radius: 5px;
  overflow: hidden;
}

.card-services__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49.64912%;
          flex: 0 0 49.64912%;
  overflow: hidden;
}

.card-services__img img {
  -webkit-transition: all 1.2s ease-in 0s;
  -o-transition: all 1.2s ease 0s;
  -webkit-transition: all 1.2s ease 0s;
  transition: all 1.2s ease 0s;
  -ms-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.card-services__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px 20px 20px 40px;
}

.card-services__icon {
  margin: 0px 0px 28px 0px;
}

.card-services__title {
  margin: 0px 0px 17px 0px;
}

.in-num {
  padding: 0px 0px 80px 0px;
}

.in-num__row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.slider-in-num {
  width: 100%;
  max-width: 845px;
  margin: -30px 0px 0px 0px;
}

.item-in-num {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 30px 0px 0px 0px;
  border: 1px solid #595664;
  border-radius: 5px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.item-in-num__num {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #eb3f57;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: -0.01em;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 37.04142%;
          flex: 0 0 37.04142%;
  border: 1px solid #eb3f57;
  border-radius: 5px 0px 0px 5px;
}

.item-in-num__num span {
  font-weight: 300;
}

.no-webp .item-in-num__num_saved:after {
  background: url(../img/euro.png) right bottom no-repeat; }

.item-in-num__num_saved:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0.1;
}

.item-in-num__desc {
  font-weight: 400;
  font-size: 14px;
  line-height: 164.28571%;
  color: rgba(255, 255, 255, 0.8);
  padding: 31px 40px 28px 50px;
}

.dots-in-num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dots-in-num__list li {
  position: relative;
  -webkit-transition: all 0.4s ease-in 0s;
  -o-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 54px;
  cursor: pointer;
}

.dots-in-num__list li:last-child {
  margin: 0px 0px 0px 0px;
}

.dots-in-num__list li:before,
.dots-in-num__list li:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
  background-color: #787583;
}

.dots-in-num__list li:before {
  content: "";
  width: 15px;
  height: 1px;
  left: 0;
}

.dots-in-num__list li:after {
  content: "";
  width: 9px;
  height: 9px;
  left: 27px;
  border-radius: 50%;
}

.dots-in-num__list li button {
  -webkit-transition: inherit;
  -o-transition: inherit;
  transition: inherit;
  background: transparent;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 0.05em;
  color: #787583;
}

.dots-in-num__list li.slick-active {
  padding: 0px 0px 0px 58px;
}

.dots-in-num__list li.slick-active:before {
  width: 22px;
  background-color: #eb3f57;
}

.dots-in-num__list li.slick-active:after {
  width: 13px;
  height: 13px;
  left: 34px;
  background-color: #eb3f57;
}

.dots-in-num__list li.slick-active button {
  color: #eb3f57;
  font-size: 14px;
}

.why {
  padding: 0px 0px 70px 0px;
}

.why__title {
  max-width: 770px;
  margin: 0 auto 35px auto;
  text-align: center;
}

.why__desc-wrapper {
  margin: 0 auto 55px auto;
}

.why__desc {
  font-weight: 300;
  font-size: 16px;
  line-height: 156.25%;
  max-width: 345px;
  margin: 0px 25px 0px 0px;
}

.why__tooltip {
  padding: 10px 15px 8px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why__tooltip svg {
  margin: 0px 10px 0px 0px;
}

.why__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 78.63248%;
          flex: 0 0 78.63248%;
}

.why__card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30.3333%;
          flex: 0 0 30.3333%;
  margin: 0px 15px 15px 0px;
}

.why__img {
  position: absolute;
  width: 100%;
  max-width: 527px;
  height: 100%;
  right: 0px;
  bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  transform: translate3d(40%, 0, 0);
  -webkit-transform: translate3d(40%, 0, 0);
  -ms-transform: translate3d(40%, 0, 0);
  -o-transform: translate3d(40%, 0, 0);
  -moz-transform: translate3d(40%, 0, 0);
}

.why__img img {
  max-width: 100%;
}

.wrapper-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tooltip-why__tip {
  left: -70px;
}

.tooltip-why__tip:after {
  left: 80px;
}

.card-why__tag {
  margin: 0px 0px 30px 0px;
}

.card-why__icon {
  margin: 0px 0px 17px 0px;
}

.card-why__title {
  margin: 0px 0px 18px 0px;
}

.offer {
  padding: 0px 0px 80px 0px;
}

.offer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer__body {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 54%;
          flex: 0 0 54%;
}

.offer__title {
  max-width: 750px;
  margin: 0px 0px 50px 0px;
}

.offer__questions {
  margin: 0px 0px 30px 0px;
}

.offer__desc {
  max-width: 425px;
  margin: 0px 0px 50px 0px;
}

.offer__btn {
  font-weight: 700;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  padding: 25px 40px 23px 40px;
}

.offer__img {
  position: relative;
}

.questions {
  display: inline-block;
  background-color: #302C3D;
  border-radius: 5px;
  padding: 40px 50px 30px 50px;
}

.questions__item {
  position: relative;
  color: #FFC582;
  margin: 0px 0px 40px 0px;
  padding: 0px 0px 0px 19px;
}

.questions__item:last-child {
  margin: 0px 0px 0px 0px;
}

.questions__item:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 0);
  -webkit-transform: translate3d(0, -50%, 0);
  -ms-transform: translate3d(0, -50%, 0);
  -o-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  border-radius: 50%;
  background-color: #FFC582;
}

.img-employee {
  position: relative;
}

.img-employee:after {
  content: "";
  position: absolute;
  width: 440px;
  height: 440px;
  top: 50%;
  left: 0;
  transform: translate3d(-30px, -50%, 0);
  -webkit-transform: translate3d(-30px, -50%, 0);
  -ms-transform: translate3d(-30px, -50%, 0);
  -o-transform: translate3d(-30px, -50%, 0);
  -moz-transform: translate3d(-30px, -50%, 0);
  background-color: #302C3D;
  border-radius: 50%;
  z-index: -1;
}

.img-employee__desc {
  position: absolute;
  display: block;
  width: 100%;
  left: 0px;
  bottom: 40px;
  transform: translate3d(-65%, 0, 0);
  -webkit-transform: translate3d(-65%, 0, 0);
  -ms-transform: translate3d(-65%, 0, 0);
  -o-transform: translate3d(-65%, 0, 0);
  -moz-transform: translate3d(-65%, 0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.img-employee__desc img {
  position: absolute;
  top: 50%;
  right: 0;
  height: 150%;
  transform: translate3d(70%, -50%, 0);
  -webkit-transform: translate3d(70%, -50%, 0);
  -ms-transform: translate3d(70%, -50%, 0);
  -o-transform: translate3d(70%, -50%, 0);
  -moz-transform: translate3d(70%, -50%, 0);
  z-index: 5;
}

.img-employee__name {
  position: relative;
  display: block;
  font-weight: 700;
  font-size: 18px;
  background-color: #3c374b;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 26px 60px 24px 60px;
  z-index: 4;
}

.img-employee__position {
  display: inline-block;
  font-weight: 400;
  font-size: 16px;
  line-height: 156.25%;
  color: #9d9ba5;
  background-color: #3c374b;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: -10px 0px 0px 0px;
  padding: 24px 60px 22px 53px;
}

.img-employee__img {
  max-width: 100%;
}

@media (min-width: 767.98px) {
  .social__link_acc:hover {
    width: 208px;
  }

  .phone:hover svg {
    background-color: #eb3f57;
  }

  .phone:hover svg path {
    fill: #3c374b;
  }

  .btn:hover span {
    -webkit-transform: translate3d(-3px, -3px, 0px);
            transform: translate3d(-3px, -3px, 0px);
  }

  .btn:hover:after {
    top: -6px;
    left: -6px;
  }

  .btn-see-more:hover {
    background: #eb3f57;
  }

  .tooltip:hover .tooltip__tip {
    top: 130%;
    opacity: 1;
  }

  .popup-close:hover {
    background: #fff;
  }

  .popup-close:hover svg path {
    fill: #eb3f57;
  }

  .how-popup__button:hover input ~ .how-popup__checkmark {
    background-color: #eb3f57;
    color: #fff;
  }

  .menu__link:hover {
    color: #eb3f57;
    font-weight: 600;
  }

  .menu__link:hover:before {
    left: -70px;
  }

  .icon-menu:hover span:first-child {
    margin: 0px 0px 0px 11px;
  }

  .icon-menu:hover span:last-child {
    margin: 0px 11px 0px 0px;
  }

  .icon-menu.active:hover span {
    margin: 0px 0px 0px 0px;
  }

  .card-services:hover .card-services__img img {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media (max-height: 850px) and (max-width: 1500px) {
  .hero:after {
    display: none;
  }
}

@media (max-width: 1182px) {
  .container {
    max-width: 970px;
  }

  .images-what-do-we-take__img {
    width: 130%;
    height: 80%;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .popup-subapplication__left {
    margin: 0px 0px 25px 0px;
  }

  .popup-subapplication__right {
    position: relative;
    right: auto;
  }

  .popup-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 80px 80px 0px 110px;
  }

  .thanks-popup-content {
    padding: 80px 80px 90px 110px;
  }

  .header__btn {
    display: none;
  }

  .benefits__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .benefits__card {
    max-width: none;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }

  .card-benefits:after {
    height: 80%;
  }

  .services__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .slider-in-num {
    max-width: 500px;
  }

  .item-in-num {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .item-in-num__num {
    padding: 36px 55px 30px 55px;
  }

  .why__cards {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .why__img {
    display: none;
  }

  .offer__body {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .offer__title {
    text-align: center;
  }

  .offer__desc {
    text-align: center;
  }

  .img-employee {
    margin: 0px 0px 40px 0px;
  }

  .img-employee:after {
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);
    -ms-transform: translate3d(-50%, -50%, 0);
    -o-transform: translate3d(-50%, -50%, 0);
    -moz-transform: translate3d(-50%, -50%, 0);
  }

  .img-employee__desc {
    left: 50%;
    bottom: 0px;
  }

  .img-employee__img {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .phone svg {
    padding: 8px 8px 7px 8px;
    width: 28px;
    height: 28px;
  }

  .phone span {
    font-size: 13px;
  }

  .title {
    font-size: 33px;
  }

  .popup__title {
    font-size: 26px;
  }

  .popup__desc {
    font-size: 15px;
  }

  .popup-subapplication__right {
    width: 300px;
  }

  .popup-content {
    padding: 40px 30px 0 30px;
  }

  .popup-form__how {
    margin: 0px 0px 30px 0px;
  }

  .popup-form__additional {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .popup-form__btn {
    margin: 0px 0px 20px 0px;
  }

  .how-popup__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 250px;
    margin: 0px 0px 17px 0px;
  }

  .how-popup__button:nth-child(odd) {
    margin: 0px 0px 17px 0px;
  }

  .how-popup__button:last-child {
    margin: 0px 0px 0px 0px;
  }

  .how-popup__button {
    max-width: none;
  }

  .thanks-popup-content {
    padding: 40px 30px 40px 30px;
  }

  .header {
    height: 60px;
  }

  .header__social {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 80px;
            flex: 0 0 80px;
  }

  .header__phone {
    margin: 0px 15px 0px auto;
  }

  .hero:after {
    display: none;
  }

  .hero__row {
    padding: 130px 0px 50px 0px;
  }

  .hero__title {
    margin: 0px 0px 30px 0px;
  }

  .hero__subtitle {
    font-size: 16px;
    margin: 0px 0px 50px 0px;
  }

  .cta-hero {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    width: 350px;
  }

  .cta-hero__desc {
    padding: 55px 26px 19px 26px;
  }

  .btn-wrapper {
    width: 100%;
    height: 65px;
  }

  .benefits__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    text-align: center;
    padding: 40px 0px 40px 0px;
  }

  .card-benefits:after {
    height: 1px;
    width: 60%;
    top: auto;
    right: 50%;
    bottom: 0px;
    -webkit-transform: translate3d(50%, 0px, 0px);
            transform: translate3d(50%, 0px, 0px);
  }

  .card-benefits__title {
    margin: 0px auto 12px auto;
  }

  .card-benefits__desc {
    margin: 0px auto;
  }

  .what-do-we-take__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .what-do-we-take__left {
    margin: 0px 0px 50px 0px;
  }

  .what-do-we-take__images {
    width: 100%;
    margin: -130px 0px 0px 0px;
  }

  .images-what-do-we-take {
    position: relative;
  }

  .images-what-do-we-take__img {
    position: absolute;
    width: 100%;
    height: auto;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }

  .images-what-do-we-take__img.active {
    position: relative;
    left: 10px;
  }

  .card-services__img img {
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  .slider-in-num {
    max-width: 400px;
  }

  .why__desc {
    font-size: 14px;
    max-width: 300px;
  }

  .why__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 46%;
            flex: 0 0 46%;
  }
}

@media (max-width: 550.98px) {
  .title {
    font-size: 21px;
  }

  .popup__title {
    font-size: 20px;
  }

  .popup__desc {
    font-size: 12px;
  }

  .popup-subapplication__right {
    width: 250px;
    margin: 0 auto;
  }

  .popup-subapplication__right:after {
    width: 280px;
    height: 280px;
    left: -20px;
  }

  .popup-form__btn {
    width: 100%;
    text-align: center;
  }

  .popup-form__or {
    margin: 0px auto;
  }

  .how-popup__title {
    font-size: 16px;
  }

  .how-popup__buttons {
    max-width: none;
  }

  .input-contact-popup__input {
    max-width: none;
  }

  .popup-thanks__right {
    width: 175px;
  }

  .hero__title {
    margin: 0px 0px 20px 0px;
  }

  .hero__subtitle {
    font-size: 14px;
    margin: 0px 0px 40px 0px;
  }

  .title-hero svg {
    width: 14px;
  }

  .title-hero span {
    font-size: 40px;
  }

  .title-hero__tooltip {
    font-size: 16px;
  }

  .title-hero__tooltip {
    padding: 12px 8px 8px 8px;
  }

  .cards-what-do-we-take__card:nth-child(even) {
    margin: 0px 0px 13px 0px;
  }

  .card-services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .card-services__img {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-height: 200px;
  }

  .card-services__img img {
    width: 100%;
  }

  .card-services__body {
    padding: 40px 25px 35px 25px;
  }

  .in-num__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .slider-in-num {
    max-width: none;
    margin: 0px 0px 25px 0px;
  }

  .dots-in-num {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .dots-in-num__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .dots-in-num__list li {
    margin: 0px 25px 0px 0px;
    padding: 19px 0px 0px 0px;
  }

  .dots-in-num__list li:before {
    display: none;
  }

  .dots-in-num__list li:after {
    top: 0;
    left: 50%;
    -webkit-transform: translate3d(-50%, 0px, 0px);
            transform: translate3d(-50%, 0px, 0px);
    transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    -ms-transform: translate3d(-50%, 0, 0);
    -o-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
  }

  .dots-in-num__list li.slick-active {
    padding: 23px 0px 0px 0px;
  }

  .dots-in-num__list li.slick-active:after {
    left: 50%;
  }

  .why__desc {
    margin: 0px 0px 20px 0px;
  }

  .why__card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 0px 0px 15px 0px;
  }

  .wrapper-desc {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .offer__img {
    width: 250px;
  }

  .img-employee {
    margin: 0px 0px 0px 0px;
  }

  .img-employee:after {
    width: 260px;
    height: 260px;
  }

  .img-employee__desc {
    display: none;
  }
}

@media (max-width: 479.98px) {
  .phone span {
    font-size: 11px;
  }

  .title__highlighted {
    font-size: 12px;
  }

  .card {
    padding: 25px 25px 22px 20px;
  }

  .header__logo {
    width: 92px;
  }

  .cta-hero {
    width: 100%;
  }

  .what-do-we-take__images {
    margin: -55px 0px 0px 0px;
  }

  .cards-what-do-we-take__card {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0px 0px 13px 0px;
  }

  .card-what-do-we-take__icon {
    margin: 0px 15px 0px 0px;
  }

  .images-what-do-we-take__img {
    left: 110%;
  }
}

.webp .hero:after { background: url(../img/dots-grid.webp) 0 0 no-repeat; }

.webp .item-in-num__num_saved:after { background: url(../img/euro.webp) right bottom no-repeat; }